.App {
  text-align: center;
}

.App-logo {
  position: fixed;
  left: 0;
  height: 40px; /* Adjust the height as needed */
  
}

.App-link {
  color: #61dafb;
}

.navbar{
  margin-top: 30px;
}

.navbar ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.navbar li{
  margin-right: 25px;
}

nav a {
  text-decoration: none;   /* Remove underline from links */
  color: #333;          /* Dark text color */
  font-weight: 500;     /* Slightly bold text */
}