.home {
    padding: 2rem;
    text-align: center;
}

.home h1 {
    font-size: 2rem;
    margin-bottom: 0.5rem;
}

.home p {
    font-size: 1.1rem;
    color: #555;
    margin-bottom: 2rem;
}

.main-container{
    margin-top: 100px;
}